certifi==2023.11.17
charset-normalizer==3.3.2
decorator==4.4.2
idna==3.6
imageio==2.33.1
imageio-ffmpeg==0.4.9
moviepy==1.0.3
numpy==1.26.2
pathvalidate==3.2.0
Pillow==10.1.0
praw==7.7.1
prawcore==2.4.0
proglog==0.1.10
requests==2.31.0
tqdm==4.66.1
update-checker==0.18.0
urllib3==2.1.0
websocket-client==1.7.0
